<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music</title>


</head>
<body>
<script th:inline="javascript" >
    var senti = [[${sentiment}]];

    if(senti == "positive"){
        suggest("https://www.youtube.com/watch?v=w9TON4IwR2w&list=PLxLLoXO86efHN0YvXDK4uSyn91azsF-pd&index=5");
    }
    else if(senti == "negative"){
        suggest("https://www.youtube.com/watch?v=g-1XA10uqmw&list=PLxLLoXO86efFs2Ek5bsjs4bDcXtOzjdQe&index=3&t=6s");
    }
    else if(senti == "neutral"){
        suggest("https://www.youtube.com/watch?v=lbOKEVS7uqA&list=PLxLLoXO86efH5x7oqACfGvG_00h9KhJ7t&index=4&t=5s");
    }
    else{
        window.onload = function(){
            var a = document.getElementById('error').innerHTML = "Error";
        }
    }

    function suggest(url){
        var returnValue = confirm('노래 추천을 받으시겠습니까?');

        if(returnValue == true){ location.href=url; }
        else{ location.href="http://localhost:8080/" }
    }

    </script>

    <span id="error"></span>
</body>
</html>